<h1 class="banner">Friends</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur nemo placeat reprehenderit a molestiae necessitatibus reiciendis adipisci assumenda ullam quas impedit perspiciatis delectus, quo doloribus, distinctio provident cum! Sit.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati consequuntur nemo placeat reprehenderit a molestiae necessitatibus reiciendis adipisci assumenda ullam quas impedit perspiciatis delectus, quo doloribus, distinctio provident cum! Sit.</p>





